.lead {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 48px 0 0 0;
  }
}
