.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
  margin: 0 0 32px 0;
  word-break: break-all;
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    max-width: 288px;
    margin: 0 0 16px 0;
  }
}
