.footer {
  margin: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 64px 16px 24px 16px;
    flex-direction: column;
  }
}
